<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@category.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li style="color:red;"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Name_English %><br>
    <%= f.text_field :name_en %>
  </p>
 
  <p>
    <%= f.label :Name_Arabic %><br>
    <%= f.text_field :name_ar %>
  </p>

  <p>
    <%= f.label :Thumbnail_image_URL %><br>
    <%= f.text_field :thumb_url %>
  </p>

  <p>
    <%= f.label :Panoramic_image_URL %><br>
    <%= f.text_field :pano_url %>
  </p>

  <p>
    <%= f.label :Check_box_to_make_category_active %><br>
    <%= f.check_box :isactive %><br><br> ***insert file uploaders
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
